// -----------------------------------------------------------------------------
// This file contains all application-wide colors
// -----------------------------------------------------------------------------
$black: #232323;
$grey: #e0e0e0;
$white: #efefef;
$magenta: #ff0090;