// -----------------------------------------------------------------------------
// This file contains all application-wide colors
// -----------------------------------------------------------------------------
$black: #232323;
$grey: #777777;
$white: #efefef;