// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// as well as basic typography style for text
// -----------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

$font-family: 'Open Sans', 'Helvetica', sans-serif;

$base-font-size: em(14);
$medium-font: em(48);
$large-font: em(72);
