// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables
// -----------------------------------------------------------------------------
$font-size--small: em(12px);
$font-size--body: em(16px);
$font-size--large: em(24px);
$font-size--huge: em(48px);
$padding: em(42px);