// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  display: flex;

  padding: $base-font-size $base-font-size*1.5;

  align-items: center;
  justify-content: flex-start;

  p {
    letter-spacing: 0.2em;

    font-weight: lighter;

    span {
      font-weight: 700;
    }

    &:hover {
      transform: scale(1.1);
      letter-spacing: 0.3em;
    }
  }
}
