// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $base-font-size $base-font-size*1.5;
  p {
    letter-spacing: .2em;
    font-weight: lighter;
    span {
      font-weight: 700;
    }
    &:hover {
      letter-spacing: .3em;
      transform: scale(1.1);
    }
  }
}
