.main-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.x {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: .1;
  font-family: Helvetica;
  font-size: 20vh;
  
  &:hover {
    opacity: .7;
    font-size: 30vh;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}
