.main-content {
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
  width: 100%;

  img {
    padding-top: $padding;
    height: 100%;
    width: 100%;
    text-align: right;
  }
}
