.clock {
  width: 100%;
  height: 100%;
  padding: $padding;
}

.time {
  height: 100%;
  width: 100%;
  font-size: $large-font;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > li {
    width: 25%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
    &:hover{
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    li {
      font-size: 1.5em;
      margin: 0.3em 0;
    }
  }
}

.seconds {
  position: relative;
  &::after {
    content: "seconds";
    position: absolute;
    font-size: 1rem;
    color: $grey;
    opacity: 0.5;
    bottom: -1em;
  }
}

.minutes {
  position: relative;
  &::after {
    content: "minutes";
    position: absolute;
    font-size: 1rem;
    color: $grey;
    bottom: -1em;
    opacity: 0.5;
  }
}

.hours {
  position: relative;
  &::after {
    content: "hours";
    position: absolute;
    font-size: 1rem;
    color: $grey;
    opacity: 0.5;
    bottom: -1em;
  }
}

.days {
  position: relative;
  &::after {
    content: "days";
    position: absolute;
    font-size: 1rem;
    color: $grey;
    opacity: 0.5;
    bottom: -1em;
  }
}


/*
@keyframes opacity {
  50% { transform: scale(1.05); opacity:1; }
}
*/
