.clock {
  width: 100%;
  height: 100%;
  padding: $padding;
}

.time {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: $large-font;
  justify-content: center;
  flex-wrap: wrap;

  > li {
    display: flex;
    width: 25%;
    min-width: 200px;
    margin: .5em 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;

    li {
      margin: .3em 0;
      font-size: 1.5em;
    }
  }
}

.seconds {
  position: relative;
  
  &::after {
    position: absolute;
    bottom: -1em;
    content: 'seconds';
    opacity: .5;
    color: $grey;
    font-size: 1rem;
  }
}

.minutes {
  position: relative;
  
  &::after {
    position: absolute;
    bottom: -1em;
    content: 'minutes';
    opacity: .5;
    color: $grey;
    font-size: 1rem;
  }
}

.hours {
  position: relative;
  
  &::after {
    position: absolute;
    bottom: -1em;
    content: 'hours';
    opacity: .5;
    color: $grey;
    font-size: 1rem;
  }
}

.days {
  position: relative;
  
  &::after {
    position: absolute;
    bottom: -1em;
    content: 'days';
    opacity: .5;
    color: $grey;
    font-size: 1rem;
  }
}

/*
@keyframes opacity {
  50% { transform: scale(1.05); opacity:1; }
}
*/
