// -----------------------------------------------------------------------------
// This file contains very basic styles on base html elements
// -----------------------------------------------------------------------------
html,
body {
  height: 100%;
  width: 100%;
  background-color: $magenta;
}

body {
  font-size: $font-size--body;
  font-weight: bold;
  font-family: 'futura-pt';
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  transition: .3s;
}
